<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Soccer Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Soccer Analysis
            <img class="nav-player" src="../static/images/soccerball.jpg " style="width: 2%">
          </a>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>Player Attributes</h1>
      <p>Find Player Statistics</p>
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="date">Enter a Player ID</label>
                        <input class="form-control" id="player" type="number" placeholder="123456">
                      </li>
                      <li class="filter list-group-item">
                        <label for="City">Overall_Rating</label>
                        <input class="form-control" id="overall_rating" type="number" placeholder="60">
                      </li>
                      <li class="filter list-group-item">
                        <label for="State">Preferred Foot</label>
                        <input class="form-control" id="preferred_foot" type="text" placeholder="right">
                      </li>
                      <li class="filter list-group-item">
                        <label for="Country">Crossing</label>
                        <input class="form-control" id="crossing" type="number" placeholder="68">
                      </li>
                      <li class="filter list-group-item">
                        <label for="shape">Finishing</label>
                        <input class="form-control" id="finishing" type="number" placeholder="48">
                      </li>
                      <li class="filter list-group-item">
                        <label for="shape">Acceleration</label>
                        <input class="form-control" id="acceleration" type="number" placeholder="57">
                      </li>
                      <li class="filter list-group-item">
                        <label for="shape">Agility</label>
                        <input class="form-control" id="agility" type="number" placeholder="60">
                      </li>
                      <li class="filter list-group-item">
                        <label for="shape">Stamina</label>
                        <input class="form-control" id="stamina" type="number" placeholder="52">
                      </li>
                    </ul>
                  </div>
                  <button id="filter-btn" type="submit" class="btn btn-default">Filter Table</button>
                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <table id="player-table" class="table table-boardered">
              <thead>
                <tr>
                  <th class="table-head">Player ID</th>
                  <th class="table-head">Overall_Rating</th>
                  <th class="table-head">Preferred Foot</th>
                  <th class="table-head">Crossing</th>
                  <th class="table-head">Finishing</th>
                  <th class="table-head">Acceleration</th>
                  <th class="table-head">Agility</th>
                  <th class="table-head">stamina</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="bottom">Soccer Analysis</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="static/js/app2.js"></script>
</body>

</html>
